* {
	box-sizing: border-box;
}

body {
	background-image: url(photos/usmbackground.jpg);
	background-size: 900px;
	color: white !important;
	background-color: #222;
	margin: -8px;
}

/*

BODY CONTENT

*/

#main {
	display: block;
	z-index: 15;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	margin: auto;
	height: 100px;
	width: 340px;
	font-family: "Circular Std Book" !important;
	font-weight: normal;
}

#main img {
	height: 100px;
}

#main p {
	display: block;
	margin-left: 150px;
	margin-top: -104px;
	line-height: 33px !important;
	font-size: 24px !important;
}


 @font-face {
    font-family: 'Circular Std Book';
   	src: url('http://6e461dbc489ad4c14a5e-c28b1386850db717caac12549deaa1b5.r57.cf3.rackcdn.com/newsletter-fonts/CircularStd-Book.eot');
    src: url('http://6e461dbc489ad4c14a5e-c28b1386850db717caac12549deaa1b5.r57.cf3.rackcdn.com/newsletter-fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
      	url('http://6e461dbc489ad4c14a5e-c28b1386850db717caac12549deaa1b5.r57.cf3.rackcdn.com/newsletter-fonts/CircularStd-Book.woff') format('woff'),
   		url('http://6e461dbc489ad4c14a5e-c28b1386850db717caac12549deaa1b5.r57.cf3.rackcdn.com/newsletter-fonts/CircularStd-Book.ttf') format('truetype');
   	font-weight: normal;
    font-style: normal;
}


@import url(https://db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);


