* {
	box-sizing: border-box;
}

#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	width: 100%;
	margin: 0 auto;
}

body {
	margin: 0px;
	background-color: #fbf7f5;
}

.main {
	font-family: 'Nunito Sans';
	font-size: 17.5px;
	line-height: 32px;
	letter-spacing: 0px;
}

.link {
	color: #191919 !important;
	font-weight: 700;
}

.link:hover {
	border-bottom: 1px solid #191919;
	padding-bottom: 0px;
}

::selection {
    background: #6a11ea;
    color: white;
}

/*
body {
	margin: 0px;
	background-color: white;
	background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(24,24,24,1) 75%);
}

body::after {
  	content: "";
  	background: url(media/usmbackground.jpg);
	background-size: 800px;
	background-repeat: repeat;
 	opacity: 0.4;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}
*/

body, h1, h2, h3, h4, h5, h6, p, nav, a {
	font-family: 'Nunito Sans';
	font-weight: 400;
	letter-spacing: -.3px;
}

h1 {
	font-size: 28px;
	color: white;
}

h2 {
	font-kerning: normal;
	font-size: 56px;
	font-weight: 700;
	color: white;
}

h3 {
	font-size: 28px;
	color: #e3e3e3;
}

p {
	font-size: 35px;
}

header {
	grid-column: 1/8;
	grid-row: 1;
	background-color: #fbf7f5;
	/*box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.8);*/
	position: fixed;
	width: 100%;
	opacity: 0.94;
	z-index: 2;
}

header section {
	max-width: 1000px;
	margin: 0 auto;
}

#marquee {
	color: black;
	font-size: 14px !important;
	width: 780px;
	margin: -42px 0px 0px 165px;
	padding-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}

#marquee span {
	display: inline-block;
	padding-left: 100%;
	/* show the marquee just outside the paragraph */
	animation: marquee 15s linear infinite;
}

#marquee span:hover {
	animation-play-state: paused
}

@keyframes marquee {
	0% {
    	transform: translate(0, 0);
	}
	100% {
    	transform: translate(-100%, 0);
	}
}

#marquee .underline {
	font-weight: 700;
	border-bottom: 1px solid black;
	padding-bottom: 0px;
	font-size: 12px;
}

footer {
	margin-top: 100px;
	margin-bottom: 45px;
	padding-top: 15px;
	grid-column: 1/7;
	grid-row: 20;
	text-align: center;
}

footer:before {
	content: "";
	position: absolute;
	height: 1px;
	margin-left: -35px;
	width: 270px;
	border-top: 1px solid lightgray;
}

footer img {
	margin-top: 25px;
	height: 85px;
}

footer p {
	margin-top: -12px;
	font-size: 12px;
}

.fab {
	color: black !important;
	float: right;
	margin: -41px 20px 0px 0px;
	font-size: 1.4em;
}

#logo {
	height: 62px;
	margin: 0px 0px 0px 10px;
	display: block;
	padding-top: 3px;
	filter: invert(100%);
}

#sentence {
	color: #333;
	margin-top: 170px;
	grid-row: 2;
	grid-column: 1/7;
	text-align: center;
	line-height: 54px;
	font-weight: 800;
}

#tag {
	color: #555;
	font-size: 14px;
	margin-top: -32px;
	margin-bottom: 100px;
	grid-row: 3;
	grid-column: 1/7;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.6px;
}














#eventphotos {
	grid-column: 1/8;
	grid-row: 4;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: 10px;
	max-width: 770px;
	margin: 0 auto;
}

#eventphotos img, #eventphotos video {
	width: 250px;
	border-radius: 8px;
}

#eventphotos div {
	height: 250px;
}

#eventphotos div video {
	object-fit: cover;
}

#eventphotos .fa-instagram {
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	text-shadow: 2px 2px 6px gray;
	z-index: 1;
	color: white !important;
}

#eventphotos section:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

#eventphotos section:nth-child(1):hover {
	opacity: 0.4;
}

#eventphotos section:nth-child(2) {
	grid-column: 3;
	grid-row: 1;
}

#eventphotos section:nth-child(2):hover {
	opacity: 0.4;
}

#eventphotos section:nth-child(3) {
	grid-column: 5;
	grid-row: 1;
}

#eventphotos section:nth-child(3):hover {
	opacity: 0.4;
}

#eventphotos section:nth-child(4) {
	grid-column: 1;
	grid-row: 2;
}

#eventphotos section:nth-child(4):hover {
	opacity: 0.4;
}

#eventphotos section:nth-child(5) {
	grid-column: 3;
	grid-row: 2;
}

#eventphotos section:nth-child(5):hover {
	opacity: 0.4;
}

#eventphotos section:nth-child(6) {
	grid-column: 5;
	grid-row: 2;
}

#eventphotos section:nth-child(6):hover {
	opacity: 0.4;
}













#vendor-application {
	text-decoration: none;
	grid-row: 6;
	grid-column: 1/7;
	color: white;
	width: 220px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

#vendor-application p {
	font-weight: 700;
	background-color: #FF8080;
	border-radius: 6px;
	font-size: 19px !important;
	padding: 16px 10px 16px 10px;
	transition: 0.2s ease;
	margin-top: 60px;
}

#vendor-application p:hover {
	background-color: #FF6565;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}

.fa-paper-plane {
	color: #FF8080;
	font-size: 15px;
	position: absolute;
	margin-left: -50px;
	z-index: -1;
}

#contact-us {
	text-decoration: none;
	grid-row: 7;
	grid-column: 1/7;
	text-align: center;
	margin: 0 auto;
	height: 14px;
}

#contact-us p {
	font-weight: 700;
	margin: -3px 0px 0px 20px;
	color: #FF8080;
	font-size: 15px !important;
	transition: 0.2s ease;
}

#contact-us p:hover {
	color: #FF6565;
}
















#campuses {
	margin-top: 80px;
	grid-column: 1/8;
	grid-row: 7;
	display: grid;
	margin-bottom: 50px;
	padding-top: 4px;
}

#campuses h2 {
	margin-bottom: 6px;
	color: black;
	opacity: .4;
	grid-row: 1;
	grid-column: 1/8;
	text-align: center;
	font-size: 12px;
	font-weight: 700 !important;
	letter-spacing: 0.4 !important;
	text-transform: uppercase;
}

#campuses h3 {
	color: #333;
	margin-top: -10px;
	font-size: 15px;
	letter-spacing: 0px;
}

#campuses img {
	height: 60px;
}

#asu {
	grid-row: 6;
	grid-column: 3/5;
	text-align: center;
	margin-left: 90px;
}

#uofa {
	grid-row: 6;
	grid-column: 4/6;
	text-align: center;
	margin-right: 90px;
	margin-top: 14px;
}

#uofa img {
	height: 30px;
	filter: blur(1.5px) grayscale(100%);
	opacity: 0.4;
}

#uofa a {
	position: absolute;
	margin-left: -108px;
	margin-top: 5px;
	font-weight: 700;
}


/*
nav, a {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: .2px;
}

nav {
	z-index: 1;
	margin-left: 10px;
	grid-row: 4;
	grid-column: 1/7;
	text-align: center;
	text-transform: uppercase;
}

nav a {
	display: inline;
	margin-bottom: 1em;
	text-decoration: none;
	padding-bottom: 2px;
}

nav ul {
	display: inline;
	margin-left: -24px;
	padding-left: 14px;
}

nav a:link {
	color: black;
}

nav a:visited {
	color: black;
}

nav a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid black;
}

nav li {
	list-style-type: none;
	padding-left: 0;
	display: inline;
}
*/













@media screen and (max-width: 910px) {

	#wrapper {
		width: 100%;
	}

	#sentence {
		color: #191919;
		grid-row: 3;
		font-size: 28px;
		line-height: 30px;
		text-align: center;
		margin-top: 125px;
		font-weight: 800;
	}

	#tag {
		color: #333;
		font-size: 10px;
		margin-top: -20px;
		text-align: center;
		grid-row: 4;
	}

	nav, a {
		font-size: 11px;
		letter-spacing: .2px;
	}

	nav li {
		padding-left: 14px;
	}

	nav {
		grid-row: 2;
		text-align: center;
		margin-top: 1.4vw;
		margin-left: 2px;
	}

	#logo {
		height: 62px;
		margin: 0px 0px 0px 10px;
		display: block;
		padding-top: 3px;
	}

	.fab {
		font-size: 1.9em;
	}

	header .fab {
		background-color: #fbf7f5;
	}

	header {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	header section {
		max-width: 1000px;
	}

	#marquee {
		padding-top: 10px;
		position: absolute;
		width: 100%;
		margin: 0 auto;
	}

	#eventphotos {
		grid-row-gap: 1vw !important;
		grid-column-gap: 1.3vw !important;
		margin-top: 8vw;
	}

	#eventphotos img {
		height: 28vw;
		width: 28vw;
	}

	#eventphotos .fab {
		display: none;
	}

	#campuses img {
		height: 60px;
	}

	#asu {
		grid-column: 3;
		margin-left: 45px;
	}

	#uofa {
		grid-column: 5;
		margin-top: 14px;
		margin-right: 45px;
	}

	#uofa img {
		height: 30px !important;
	}

	#uofa a {
		font-size: 15px;
	}

}




@media screen and (min-width: 1392px) {

	#asu {
		margin-left: 150px;
	}

	#uofa {
		margin-right: 150px;
	}
}









@media screen and (max-width: 376px) {

	#sentence {
		margin-top: 165px;
	}

	#eventphotos {
		margin-top: 40px;
	}

	footer {
		margin-top: 55px !important;
	}
}





