* {
	box-sizing: border-box;
}

#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	width: calc(100% - 100px);
	margin: 0 auto;
}

body {
	margin: 0px;
	background-color: white;
}

body::after {
  	content: "";
  	background: url(media/usmbackground.jpg);
	background-size: 800px;
	background-repeat: repeat;
 	opacity: 0.1;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

/*
body {
	margin: 0px;
	background-color: white;
	background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(24,24,24,1) 75%);
}

body::after {
  	content: "";
  	background: url(media/usmbackground.jpg);
	background-size: 800px;
	background-repeat: repeat;
 	opacity: 0.4;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}
*/

body, h1, h2, h3, h4, h5, h6, p, nav, a {
	font-family: 'Nunito Sans';
	font-weight: 400;
	letter-spacing: -.3px;
}

h1 {
	font-size: 28px;
	color: white;
}

h2 {
	font-kerning: normal;
	font-size: 56px;
	font-weight: 700;
	color: white;
}

h3 {
	font-size: 28px;
	color: #e3e3e3;
}

p {
	font-size: 35px;
}

header {
	grid-column: 1/8;
	grid-row: 1;
	background-color: #191919;
	box-shadow:
  0 1.8px 3.6px rgba(0, 0, 0, 0.17),
  0 5px 10px rgba(0, 0, 0, 0.143),
  0 12.1px 24.1px rgba(0, 0, 0, 0.102),
  0 40px 80px rgba(0, 0, 0, 0.054)
;

}

.fab {
	color: white !important;
	float: right;
	margin: -42px 14px 0px 0px;
	font-size: 1.9em;
}

#logo {
	height: 100px;
	grid-column: 3/4;
	align-self: center;
	text-align: center;
}

#sentence {
	color: #191919;
	margin-top: 125px;
	grid-row: 2;
	grid-column: 1/7;
	text-align: center;
	line-height: 64px;
}

#tag {
	color: #333;
	margin-top: -36px;
	grid-row: 3;
	grid-column: 1/7;
	text-align: center;
}

#campuses {
	padding-top: 150px;
	grid-column: 1/8;
	grid-row: 5;
	display: grid;
	padding-bottom: 200px;
}

#campuses h2 {
	grid-row: 1;
	grid-column: 1/8;
	text-align: center;
	font-size: 35px;
}

#campuses h3 {
	margin-top: -10px;
	font-size: 15px;
}

#campuses img {
	height: 150px;
}

#asu {
	grid-row: 6;
	grid-column: 3/5;
	text-align: center;
}

#uofa {
	grid-row: 6;
	grid-column: 4/6;
	text-align: center;
}






nav, a {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: .2px;
}

nav {
	z-index: 1;
	margin-left: 10px;
	grid-row: 4;
	grid-column: 1/7;
	text-align: center;
	text-transform: uppercase;
}

nav a {
	display: inline;
	margin-bottom: 1em;
	text-decoration: none;
	padding-bottom: 2px;
}

nav ul {
	display: inline;
	margin-left: -24px;
	padding-left: 14px;
}

nav a:link {
	color: black;
}

nav a:visited {
	color: black;
}

/*
nav a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid black;
}
*/
nav li {
	list-style-type: none;
	padding-left: 0;
	display: inline;
}










/*

MAIN BODY

*/

.main {
	font-family: 'Nunito Sans';
	font-size: 17.5px;
	line-height: 32px;
	letter-spacing: 0px;
}

.link {
	color: #191919 !important;
	font-weight: 700;
}

.link:hover {
	border-bottom: 1px solid #191919;
	padding-bottom: 0px;
}

::selection {
    background: yellow;
}












@media screen and (max-width: 910px) {

	#wrapper {
		width: 100%;
	}

	#sentence {
		grid-row: 3;
		font-size: 5.6vw;
		line-height: 7vw;
	}

	#tag {
		font-size: 3vw;
		margin-top: -14px;
		grid-row: 4;
	}

	nav, a {
		font-size: 11px;
		letter-spacing: .2px;
	}

	nav li {
		padding-left: 14px;
	}

	nav {
		grid-row: 2;
		text-align: center;
		margin-top: 1.4vw;
		margin-left: 2px;
	}

	#logo {
		height: 62px;
		margin: 0px 0px 0px 10px;
		display: block;
		padding-top: 1px;
	}

	#campuses {
		padding-top: 150px;
		grid-column: 1/8;
		grid-row: 5;
		display: grid;
		padding-bottom: 200px;
	}

	#campuses h2 {
		grid-row: 1;
		grid-column: 1/8;
		text-align: center;
		font-size: 35px;
	}

	#campuses h3 {
		margin-top: -10px;
		font-size: 15px;
	}

	#campuses img {
		height: 150px;
	}

	#asu {
		grid-row: 6;
		grid-column: 3/5;
		text-align: center;
	}

	#uofa {
		grid-row: 6;
		grid-column: 4/6;
		text-align: center;
	}
}






